<%- include index_header.html %>
<form method="post" action="post" style=" width: 50%;">
	<div class="form-group">
		<label for="inputTitle">Title</label>
		<input type="text" class="form-control" id="inputTitle" placeholder="Title" name="Title">
	</div>
	<div class="form-group">
		<label for="">Tags</label>
		<input type="text" class="form-control" name="tag1" />
		<input type="text" class="form-control" name="tag2" />
		<input type="text" class="form-control" name="tag3" />
	</div>
	<div class="form-group">
		<label for="textareaArticle">Article</label>
		<textarea class="form-control" rows="8" id="textareaArticle" name="Article"></textarea>
	</div>
	<button type="submit" class="btn btn-default">Submit</button>
</form>
<%- include index_footer.html %>